/* PC */
@media (min-width: 64em){
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Talet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Mobile */
@media (max-width: 46.1875em){
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    .s-mtb-16{
        margin-bottom: 16px;
    }
    .s-pdl-8 {
        padding-left: 8px;
    }
    #header{
        overflow: hidden;
    }
    #header .search-button {
        display: none;
    }
    #nav {
        display: block;
    }
    #nav li {
        display: block;
        padding: 1px 0px;
    }
    #nav li a {
        width: 100%;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
        width: 100%;
    }
    #content .member-item {
        margin-top: 0px;
        width: 100%;
    }
    .form-control {
        font-size: 18px;
    }
    .name .member-item img {
        padding-bottom: 16px;
    }
}